// ベース背景
$color-bg-main:#f0f0f0;

// その他背景色
$color-bg-white:#fff;


// テキスト色
$color-font-black:#000;
// $color-text-thin:#666;
$color-text-white:#fff;


// マーカー line
// $color-marker:#ff6;
$color-underLine:#000;


// タグ
$color-tag-font:#fff;
$color-tag-bg:#000;


// 透過度
// $opacity:0.6;
// $color-attention:#dc4e41;

// ロゴ
// $color-logo:#404040;
// $color-logo-em:#e65100;

// アイコン
// $color-html5:#e44d26;
// $color-wordpress:#0073aa;
// $color-responsive:#ffd966;

// 背景
// $color-bg:#fff;
// $color-bg-table:#ffecb3;
// $color-bg-mv:#ffecb3;
// $color-bg-mv2:#ffffcd;
// $color-bg-footer:#333;